//   ========================== Variables ==========================

// Color palette
// =================

// monochromatic
$alabaster: #f9f9f9;
$alto: #ddd;
$black: #000;
$gallery: #ebebeb;
$silver: #bfbfbf;
$white: #fff;


// Scaffolding
// =================

$gutter-width: 20px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// Typography
// =================

// font sizes
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
